@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-visible {
  animation: slideUp 0.8s ease-in-out forwards;
}

.opacity-0 {
  opacity: 0;
}
